{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Home</h2>

  <p>It is a website like a rescue personnel that registers Volunteers
    (Professionals, Amateurs) in a disaster stuck situation. It performs
    commissioning of drones or humans as per requirement of the
    location. It accesses locations on basis of the calamity affect (Drones
    to monitor the locations). Drones are deployed to provide food or
    medicine if humans cannot reach or to access if rescue is required.
    Humans are deployed if rescue operation is required. Humans may have
    skills like Swimmers, Psychiatrist, Doctors, Nurse, Knowledge of
    first aid, etc.</p>
{% endblock %}
